[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudio-endpoint-python = "*"
cloudio-common-python = "*"
cbor = "*"

[dev-packages]

[requires]
python_version = "3.7"
